<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Register New Student Account</title>
</head>
<body>


	<form th:action="@{/register}" th:object="${account}" th:method="post">
		<table cellpadding="2" cellspacing="2">

			<tr>
				<td>Student Number:</td>
				<td>
					<input type="text" th:field="*{studentNumber}" />
				</td>
				<td th:if="${#fields.hasErrors('studentNumber')}" 
					th:errors="*{studentNumber}"></td>

			</tr>
			<tr>
				<td>Username:</td>
				<td>
					<input type="text" th:field="*{userName}" />
				</td>
				<td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></td>

			</tr>
			<tr>
				<td>Email:</td>
				<td>
					<input type="text" th:field="*{email}" />
				</td>
				<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>

			</tr>
			<tr>
				<td>First Name:</td>
				<td>
					<input type="text" th:field="*{firstName}" />
				</td>
				<td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></td>

			</tr>
			
			<tr>
				<td>Last Name:</td>
				<td>
					<input type="text" th:field="*{lastName}" />
				</td>
				<td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></td>

			</tr>
			
			<tr>
				<td>Password:</td>
				<td>
					<input type="password" th:field="*{password}" />
				</td>
				<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>

			</tr>
			<tr>
				<td>&nbsp;</td>
				<td colspan="2">
					<input type="submit" value="save" />
				</td>

			</tr>

		</table>
	</form>


</body>
</html>